@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
}


/*making the margin upto the edges on all sides*/
body {
    margin : 0;  /* makes images and text at center untill width is given as percentage*/
    font-family: 'Raleway',
    sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 2;
}

/*making the margin of h1 to 0... so it can be full at top*/
h1 {
    margin-top : 50px;
   font-family: 'Open Sans',
   sans-serif;
   font-size: 3rem;
   line-height: 4rem;
}

h2,h3,a {
    color: #81b9bb;
}

hr {
    border :  0;
    border-top: 10px;
    border-color: #d8f5f5;
    border-style: dotted;
    width: 10%;
}

.subtext {
    font-size: 1.5rem;
    font-weight: normal;
}

.header-text {
    position: relative; 
}

.top-container {
    background-color: #e4f9f5;
    position : relative;  /* so that it acts parent to absolute positioning*/
    padding : 100px;
    width: 100%;
}

.top-cloud {
    position : absolute;  /*rejecting the flow of html*/ 
    top: 12%;
    right : 25%;
}

.bottom-cloud {
    position : absolute;  /*rejecting the flow of html*/
}

.profile {
    width: 50%;
    margin: auto;
}

.skill-heading {
    color: #11999E;
}

hr {
    width : 20%;
}

.ontime-image {
   width: 22%;
   float: right;
   margin-left: 30px;
}

.skill-image {
    margin-right: 30px;
    width: 22%;
    float: left;
}

.skill-row{
    width : 50%;
    margin: 50px auto;
    text-align: left;
}

.contact-me {
    width : 50%;
    margin : auto;
}

.contact-me-h3 {
    color: #11999E;
}

.contact-me-btn {
    text-decoration: none;
    color: #EAF6F6;
    background-color: #11999E;
    padding: 5px;
    display: inline-block;
    width: 150px;
    border-radius: 10px;
}

.bottom-container {
    background-color: #81b9bb;
    padding: 50px 0px 20px;
}

.footer-link {
    color: #11999E;
    text-decoration: none;
    padding: 5px;
}

.footer-link:hover {
 color : #EAF6F6;   
}

.footer-p {
    color: #EAF6F6;
    margin-bottom: 0;
}

.footer {
    margin: auto;
    width: 40%;
}

@media(max-width:800px) {
    .body {
        text-align: center;
        margin: 0;
        box-sizing: border-box;
        width: 75%;
    }

    .top-container {
        width: 100%;
    }
    .header-text {
        font-size: 1.5rem;
        width : 75%;
    }
    .subtext {
        font-size: 1rem;
    }
    .mountain {
        width: 120px;
        height: 100px;
        margin: auto;
    }
    
    .bottom-cloud {
        left: 10%;
        width: 25%;
        top: 250px;
    }

    .top-cloud {
        width: 25%;
        top: 100px;
        right: 80px;
    }

    .skill-image {
        float: none;
        height: 200px;
        width: 200px;
        margin: auto;
    }

    .ontime-image {
        float: none;
        width: 200px;
        height: 200px;
        margin: auto;
    }

    .skill-heading {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .contact-me {
        width: 50%;
    }

    .bottom-container {
        width: 100%;
    }

    .contact-me>h2 {
        font-size: 2rem;
    }

    .contact-me-h3 {
        font-size: 1.2rem;
    }

    .contact-me>p {
        font-size: 1rem;
    }

    .contact-me-btn {
        width: 150px;
    }

    .footer-link{
        font-size: 1rem;
    }

    .footer {
        font-size: 1rem;
    }
}



